body {
	font-size: 100%;
	font-family: $baseFontFamily;
	font-weight: 400;
	color: $textColorDark;
	background: $darkBrown;
	padding-top: 0; // bootstrap override 
}
// Drupal override
html body.admin-menu { margin-top: 20px !important; }

/* Links */
/*------------------------------*/
a { color: $teal; }
a:visited {}
a:hover { 
	text-decoration: underline;
	color: $darkTeal; }
a:active { color: $darkTeal; }


/* Typography */
/*------------------------------*/

h2 {
	color: white;
	background: $teal;
	padding: 10px 20px;
	margin: 0 0 1.5em;
	display: inline-block;
	font-weight: 300;
	font-size: 1.875em; }

.main-content {
	p, li { 
		font-size: 1.125em;
		line-height: 1.4em; }
}

/* Images */
/*------------------------------*/

img.pull-right { margin: 0 0 20px 20px; }
img.pull-left { margin: 0 20px 20px 0; }
p.pull-right { 
	margin: 0 0 20px 20px;
	img { margin-bottom: 20px; }
}

/* Miscellaneous */
/*------------------------------*/

.primary-button {
	a { 
		display: inline-block;
		padding: 10px 20px;
		margin-bottom: 15px;
		color: white; }
}