/* Site branding and top navigation */
/*----------------------------------*/

.navbar {
	margin: 20px 0;
	.brand {
		float: none;
		font-size: 18px;
		color: $red;
		line-height: 1.5em;
		.site-title {
			font-size: 20px;
			display: block;
		}
	}
	.nav {
		margin-top: 25px;
		li {
			a {
				text-shadow: 0 0 0;
				color: $mainNavColor; 
				font-size: 16px;
				padding: 5px 10px;
			}
			a:hover { 
				color: $red; }
		}
		li:first-child {
			a { border: none; }
		}
		li.active,
		li.active-trail {
			a, 
			a:hover {
				color: $teal;
				background: inherit;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none; }
		}
	}
}

// Mobile nav button
// ---------------------
.navbar-toggle {
	background: $teal;
	margin: 8px 0 0 0;
	.icon-bar {
		background: white;
	}
}


// Sidebar navigation 
//------------------------------
.sidebar {
	.nav {
		list-style: none;
		margin-left: 0;
		li { margin-bottom: .25em; }
		a {
			display: inline-block;
			background: $paleGray;
			color: #666;
			padding: 15px 25px 15px 15px; }
		a:hover { 
			background: $lightGray;
			text-decoration: none; }
		li.active,
		li.active-trail {
			a,
			a:hover { 
				color: white;
				background: $darkTeal; }
		}
	}
}
.nav-header {
	text-transform: none;
	display: inline-block;
	background: $paleGray;
	color: #666;
	padding: 15px 25px 15px 15px;
	font-size: 1.1em;
	color: $teal;
	text-decoration: none; }
.nav-header:hover { 
	color: $teal;
	text-decoration: none; }


// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
	.navbar {
		.nav {
			float: right;
			li {
				float: left;
				a {
					border-left: 1px solid $lightGray;
					font-size: 12px;
				}
			}
		}
		.brand {
			.site-title {
				font-size: 22px;
			}
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {
	.navbar {
		.brand {
			.site-title {
				font-size: 28px;
			}
		}
		.nav {
			li {
				a {
					font-size: 14px;
				}
			}	
		}
	}
}
// Large devices (desktops, 1200px and up)
@media (min-width: 1200px) {
	.navbar {
		.nav {
			li {
				a {
					font-size: 16px;
				}
			}
		}
	}
}