//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {
	.navbar {
		padding-top: 0;
		.brand { 
			margin-bottom: 0;
			clear: both;
			.site-title { font-size: 1.5em; }
		}
		.btn-navbar { 
			margin-top: 10px;
			display: inline-block; }
		.nav {
			li.active,
			li.active-trail {
				a, a:hover {
					color: white;
				}
			}
		}
	}
	footer {
		.text-right { text-align: left; }
	}
	#supersized { display: none !important; }
	.intro-text { 
		margin: 20px 0;
		padding: 25px 40px;
	}
	img.pull-right,
	img.pull-left {
		float: none;
		margin: 0 20px;
	}
}