//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {
	.navbar {
		padding-top: 0;
		.brand { 
			margin-bottom: 0;
			clear: both;
			.site-title { font-size: 1.5em; }
		}
		.btn-navbar { 
			margin-top: 10px;
			display: inline-block; }
	}
	footer {
		.text-right { text-align: left; }
	}
	#supersized { display: none !important; }
	.intro-text { 
		margin: 20px 0;
		padding: 25px 40px;
	}
}

